<div class="mx-mdy-5 d-flex justify-content-center">
  <form action="/answer">
  <label for="say_something" class="text-warning">Say something</label><br>
  <input type="text" name="say_something" class="rounded border-secondary w-500"><br>
  <input type="submit" value="Ask!" class="btn btn-primary my-3 w-100"></form>
</div>
